* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	min-height: 100vh;
	padding-bottom: 30px;
	font-family: "Montserrat", sans-serif;
	background: linear-gradient(
		80deg,
		rgb(46, 46, 46) 0%,
		rgb(116, 116, 116) 30%,
		rgb(116, 116, 116) 70%,
		rgb(46, 46, 46) 100%
	);
}

.wrapper {
	margin: 100px 40px auto 40px;
	width: 800px;
	background-color: #fff;
	box-shadow: 0 0 10px black;
}

.header {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	position: relative;
	height: 360px;
	padding: 20px 40px;
	font-family: "Pacifico", cursive;
	font-size: 30px;
	background-image: url("./img/pizza-big.jpg");
	background-size: cover;
	background-position: bottom;
	z-index: 0;
}

.shadow {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: -1;
}

.title {
	margin-bottom: 10px;
	text-shadow: 0 0 8px white, 0 0 5px white;
}

.search {
	padding: 10px 20px;
	margin-bottom: 10px;
	font-size: 16px;
	border-radius: 6px;
	border: 1px solid rgb(85, 85, 85);
	background-color: rgba(255, 255, 255, 0.7);
}

.toppings-list {
	padding: 20px 40px;
}

.subtitle {
	padding: 20px 0;
}

.list {
	padding-bottom: 20px;
	list-style: none;
}

.list-item {
	padding: 10px 30px;
	border-bottom: 1px solid rgb(200, 200, 200);
}

.info {
	display: none;
	padding: 0 30px 30px;
}

@media (max-width: 768px) {
    .wrapper {
        margin: 40px 40px auto 40px;
    }

	.header {
        padding: 30px;
		height: 300px;
		font-size: 26px;
	}

    .search {
        padding: 10px 20px;
        margin-bottom: 4px;
    }

    .toppings-list {
        padding: 20px 30px;
    }
    
    .subtitle {
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .wrapper {
        margin: 24px 24px auto 24px;
    }

	.header {
		font-size: 21px;
        background-image: url('./img/pizza-small.jpg');
	}
    
    .subtitle {
        font-size: 20px;
    }
}

@media (max-width: 414px) {
    .wrapper {
        margin: 20px 20px auto 20px;
    }

	.header {
        padding: 20px;
        height: 240px;
		font-size: 17px;
	}

    .search {
        font-size: 12px;
    }

    .toppings-list {
        padding: 10px 20px;
    }
    
    .subtitle {
        font-size: 16px;
    }
    
    .list {
		padding-bottom: 10px;
        font-size: 14px;
    }

	.info {
		padding: 0 20px 20px;
		text-align: center;
		font-size: 14px;
	}
}